body { background: #8da5a9; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 28px; display: flex; }
.block-uploader-0 { color: #c8b303; font-size: 15px; margin-bottom: 5px; }
.block-notify-1 { color: #afb685; font-size: 17px; margin-bottom: 5px; }
.block-cart-2 { color: #736025; font-size: 18px; margin-bottom: 5px; }
.block-user-3 { color: #795491; font-size: 13px; margin-bottom: 5px; }
.block-search-4 { color: #ada6c8; font-size: 14px; margin-bottom: 5px; }
.block-email-5 { color: #958329; font-size: 16px; margin-bottom: 5px; }
.block-search-6 { color: #fb5087; font-size: 16px; margin-bottom: 5px; }